        img{
            width: 20%;
            height: 30%;
        }

        #musicCheckbox{
            position:fixed;
            top: 0px;
            right: 0px;
        }
        #MusicName{
            position:fixed;
            top:0px;
            right: 20px;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            overflow: auto;
            background-color: rgb(119, 168, 90);
            padding: 0;
            height: 100%;
        }

        .accordion {
            display: flex;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

        .accordion img {
            width: 20%; /* Cada imagen ocupa inicialmente el 20% del ancho */
            height: 100%;
            transition: width 1s ease-in-out;
            cursor: pointer;
            object-fit: cover; /* Mantiene la imagen bien proporcionada */
        }

        .accordion img:hover {
            width: 60%; /* La imagen sobre la que se hace hover ocupa el 60% del ancho */
        }

        .accordion img:not(:hover) {
            width: calc(40%/4); /* Las demás imágenes se distribuyen en el 40% restante */
        }

        .accordion a{
            display: contents;
        }

        .accordion h1{
            position: static;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: rgb(209, 52, 52);
            text-shadow: 2px 2px 4px rgba(0,0,0,1);
            writing-mode: vertical-rl;
            text-orientation:upright;
            z-index: -1;
            margin: 0;
        }


        .Flag{
            width: 200px;
            height: 150px;
        }

        .destiny{
            width: 100%;
        }

        .butons{
            display: inline-block;
            padding: 10px 20px;
            position: fixed;
            top: 10px;
            left: 20px;
            background-color: #007BFF; /* Color de fondo */
            color: white; /* Color del texto */
            text-align: center;
            text-decoration: none; /* Quitar subrayado */
            border-radius: 5px; /* Bordes redondeados */
            font-size: 16px; /* Tamaño de la fuente */
            transition: background-color 0.3s ease; /* Transición para cambio de color */
            
        }